.offcanvas {
    will-change: transform!important;
    transition: transform 1s ease-in-out!important; /* You can adjust the duration and easing function as needed */
  }
  
  .offcanvas-entering, .offcanvas-exiting {
    transform: translateX(0)!important;
  }
  
  .offcanvas-exited {
    transform: translateX(-100%)!important;
  }

.itsalwaysraining{
    margin-top: 60px!important;
}

.im{
    height: 450px!important;
    width: 400px!important;
}

.a{
    font-size: 50px!important;
}

.sentence1{
    top: 62%!important;
}


.rectangle_yellow {
    width: 240px!important;
    height: 50px!important;
    margin-bottom: 100px!important;
}



.rectangle_yellow2 {
    font-size: 100px!important;
}

.rectangle_yellow3 {
    width: 800px!important;
}

.bg_image{
    background-image: url('public/images/charcoal.jpg')!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
    background-size: 100% 100%!important;
    height: 100%!important;
}

.paddingForm{
    padding-right: 100px!important;
}

.home{
    opacity: 100%!important;
}

.lastpage{
    margin-left: 100px!important;
    margin-right: 100px!important;
}

.footer{
    /* background-color: rgb(51, 50, 50); */
    margin-bottom: -20px!important;
}